<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <div class="container">
      <h2 class="text-center mt-3"><%= title %></h2>
      <%- include("./partials/nav.ejs") %>
      <form
        class="d-flex flex-column align-items-center"
        action="/recipes"
        method="POST"
      >
        <label class="d-block p-2" for="name">Recipe Name:</label>
        <input
          class="w-25 p-3 mb-2 mt-2"
          type="text"
          id="name"
          name="name"
          value="<%= newRecipe.name %>"
          required
        />
        <br />
        <label class="d-block p-2" for="name">Total Time:</label>
        <input
          class="w-25 p-3 mb-2"
          type="text"
          id="total_time"
          name="total_time"
          value="<%= newRecipe.total_time %>"
          required
        />
        <br />
        <label class="d-block p-2" for="name">Serves:</label>
        <input class="w-25 p-3 mb-2 type="text" id="serves" name="serves"
        value="<%= newRecipe.serves %>" required />
        <br />
        <label class="d-block p-2" for="ingredients">Ingredients:</label>
        <input
          class="w-25 p-3 mb-2"
          type="text"
          id="ingredients"
          name="ingredients"
          value="<%= newRecipe.ingredients %>"
          required
        />
        <br />
        <% if(error){ %>
        <p style="color: red"><%= error %></p>
        <% } %>
        <button class="btn btn-primary mb-3 mt-3" type="submit">
          Add Recipe
        </button>
      </form>
    </div>
    <%- include("./partials/footer.ejs") %> <%-
    include("./partials/bootstrapScript.ejs") %>
  </body>
</html>
