<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <div class="container">
      <h2 class="text-center mt-3"><%= title %></h2>
      <%- include("./partials/nav.ejs") %> <% if(recipes.length > 0){ %>
      <ul>
        <% recipes.forEach((recipe) => { %>
        <li class="container list-unstyled border-bottom p-3">
          <h5 class="mb-3"><%= recipe.name %></h5>
          <p class="mb-1">
            <strong>Total Time: </strong> <%= recipe.total_time %>
          </p>
          <p class="mb-1"><strong>Serves: </strong><%= recipe.serves %></p>
          <p class="mb-1">
            <strong>Ingredients: </strong> <%= recipe.ingredients %>
          </p>
        </li>
        <% } ) %>
      </ul>
      <% } else { %>
      <p>Add the first recipe</p>
      <% } %>
    </div>
    <%- include("./partials/footer.ejs") %> <%-
    include("./partials/bootstrapScript.ejs") %>
  </body>
</html>
